---
#BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlignTrailingComments: Always
AllowShortBlocksOnASingleLine: Never
AllowShortCaseExpressionOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
BinPackParameters: OnePerLine
BreakAfterAttributes: Never
ColumnLimit: 120
FixNamespaceComments: true
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Right
ReferenceAlignment: Right
RemoveBracesLLVM: false
SortIncludes: true
WrapNamespaceBodyWithEmptyLines: Always
